{% extends 'base.html' %} {% block content %}

<div class="container">
  <h2 style="text-align: center">
    Chat-box Created By <span class="red" style="color: red">M</span>ilind
    <span class="red" style="color: red">K</span>amthe
  </h2>
  <p style="text-align: center">creativemk22@gmail.com</p>
  <hr />
  <div class="row">
    <div class="chatbox chatbox22 chatbox--tray">
      <div class="chatbox__title justify-content-between">
        <!-- <h5><a href="javascript:void()">messages</a></h5> -->
        <div class="d-flex justify-content-between mt-2 align-items-center">
          <div class="position-relative p-2">
            <img
              src="https://i.imgur.com/EnANUqj.jpg"
              width="50"
              class="rounded-circle"
            />
            <span class="position-absolute dots"></span>
          </div>
          <div class="textmessage">
            <h5>Messaging</h5>
          </div>
        </div>
        <button class="chatbox__title__close">
          <span>
            <svg viewBox="0 0 12 12" width="12px" height="12px">
              <line
                stroke="#FFFFFF"
                x1="11.75"
                y1="0.25"
                x2="0.25"
                y2="11.75"
              ></line>
              <line
                stroke="#FFFFFF"
                x1="11.75"
                y1="11.75"
                x2="0.25"
                y2="0.25"
              ></line>
            </svg>
          </span>
        </button>
      </div>
      <div class="chatbox__body">
        {% for friend in friends %}
        <a href="{% url 'detail' friend.profile.id %}" class="chat-link">
          <div class="friend-drawer friend-drawer--onhover">
            <img
              class="profile-image"
              src="{{friend.profile.picture.url}}"
              alt=""
            />
            <div class="text">
              <h6>{{friend.profile.name}}</h6>
              <p class="text-muted">Wanna grab a beer?</p>
            </div>
            <div class="info-chat">
              <span class="time text-muted small">00:32</span>
              <input
                type="hidden"
                id="notification"
                value="{% url 'chatnot' %}"
              />
              <span class="badge bg-danger float-end">1</span>
            </div>
          </div>
          <hr />
        </a>
        {% endfor %}
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input
            id="btn-input"
            type="text"
            class="form-control input-sm chat_set_height"
            placeholder="Type your message here..."
            tabindex="0"
            dir="ltr"
            spellcheck="false"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            contenteditable="true"
          />

          <span class="input-group-btn">
            <button class="btn bt_bg btn-sm" id="btn-chat">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
